.wp-block-easyblocks-easy-image {
	text-align: center;

	.easy-gallery-hover-container {
		position: relative;
		height: 131px;

		.easy-gallery-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			background-color: #eee;

			.easy-gallery-hover-text {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;
				width: 88%;
			}
		}

		&:hover {
			img {
				display: none;
			}

			.easy-gallery-overlay {
				opacity: 1;
			}
		}
	}

	.easy-gallery-tagline {
		background-color: #ddd;
		margin: 8px 0;
	}

    .media-select {
		width: 100%;
		padding: 10px 20px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
		cursor: pointer;
		background: #ddd;
		box-sizing: border-box;
		border: none;
		box-shadow: none;

		&:hover {
			background: #ccc;
		}
	}
}