.wp-block-easyblocks-easy-image {
    position: relative;
    width: 180px;
    box-sizing: border-box;
    text-align: center;

    .easy-gallery-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #eee;

        .easy-gallery-hover-text {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            width: 88%;
        }
    }

    .easy-gallery-tagline {
        background-color: #eee;
    }

    &:hover {
        .easy-gallery-overlay {
            opacity: 1;
        }
    }
}
@media screen and (max-width: 767px) {
    .wp-block-easyblocks-easy-image {
        width: unset;
    }
}